.form-container {
    width: 500px;
    height: 600;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-shadow: -10px 12px #FFE0B3;
}

.form-title {
    font-weight: 400;
    font-size: 35px;
    color: #2A414F;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-left: 5px;
    margin-bottom: 9px;
    font-size: 20px;
    font-weight: 400;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}

.form-submit {
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-top: 24px;
    cursor: pointer;
}

.form-submit:hover {
    background: rgba(255, 153, 0, 0.5);
}

.sign-up-btn {
    display: flex;
    justify-content: center;
}

.form-link {
    color: rgba(255, 153, 0, 1);
    text-decoration: none;
}

/* -------- */
.or-break {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    border: 1px solid #95A0A7;
    width: 145px;
    height: 0px;
}

.or-text {
    font-size: 20px;
    margin: 0 20px;
}

/* -------- */

.google-sign-btn {
    width: 415px;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    margin-bottom: 35px;
}

.google-icon-section {
    display: flex;
    align-items: center;
}

.google-icon-section p {
    font-size: 18px;
}

.google-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}